# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.build/
dist/
.eggs/
*.toml
# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/*.log
.vscode/*.db
.vscode/*.cache

# Environments & local configs
.env
.env.*

# Streamlit cache
.streamlit/
.streamlit/secrets.toml


# OS
Thumbs.db
.DS_Store
